<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
 <%-  include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
    <!-- so we first check if the number of blogs are over 0, then only we'll cycle through them, otherwisw we won't. -->
<% if(blogs.length > 0 ){ %>
<% blogs.forEach(blog => { %>
    <a class="single" href="/blogs/<%= blog._id %>">
   <h3 class = 'title'><%= blog.title %></h3>
   <p class = 'snippet'><%= blog.snippet %></p>  
</a>
 <% }) %>  
<% } else { %>
    <p>There are no blogs to display</p>
    <% } %> 
<!-- array ka ek ek element ko pass kar rhe hai, aur har ek element ko ass a blog parameter pass kar rhe hai in calll back function.
aur bcoz eah array element is an object, therefore, we use it's property by . dot method-->
    </div>

    <%-  include('./partials/footer.ejs') %>
</body>
</html>